*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */
header{
    background:#222;
    padding:15px 0;
    position:sticky;
    top:0;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Sections */
.section{
    padding:80px 20px;
    text-align:center;
}

.home{
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.light{
    background:#f4f4f4;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:white;
    color:black;
    text-decoration:none;
    border-radius:5px;
}

/* Cards */
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    width:200px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    border-radius:8px;
}

/* Footer */
footer{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}
